/* ==========================================================================
   Author: Zahidul Islam Suzon
   Version: 1.0
   Date: 19-03-2017
========================================================================== */

/* ==========================================================================
   Fonts
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800|Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');


/* ==========================================================================
   Author's custom styles
========================================================================== */


body {
  background: #F2E0C2;
  font-family: 'Raleway', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  color:#000;
}
/* ==========================================================================
   Navbar
   ========================================================================== */
.mynav{
	background: transparent;
	height: 120px;
	border: none;
	box-shadow: none;
	transition: .3s;
	text-align:center;
	color: #21232C;
	padding-top: 30px;
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #C3332B;
}

.navbar-default .navbar-nav>li>a {
	color: #21232C;
	transition: .3s;
}
/*After Scroll this will be added*/
.scrollNavbar{
	background-color: #21232C;
	height: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0 4px 4px -6px #000000;
	transition: .3s;
	color: #C3332B;
	border-bottom: 5px solid #a58427;
}
.scrollNavbar .navbar-nav>li>a:hover {
	color: #C3332B;
}

.scrollNavbar .navbar-nav>li>a {
	color: #D9B95F;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
.navbar-brand{
	font-family: 'Monoton', cursive;
	font-size: 30px;
	color: #C3332B !important;
}
.navbar-brand-scroll{
	font-family: 'Monoton', cursive;
	font-size: 30px;
	color: #D9B95F !important;
}
.navbar-fixed-top .active a { 
    background: transparent !important;
    color: #C3332B !important;
}
/* ==========================================================================
   Header
   ========================================================================== */
.primary-header{
	height: 882px;
	background: #D9B95F url(../img/backgrounds/texture4.png) repeat;
	text-align: center;
}
.header-content{
	padding-top: 250px;
	height: 882px;
	background: url(../img/backgrounds/texture2.png) repeat;
}
.hello{
	font-family: 'Monoton', cursive;
	font-size: 50px;
	color: #21232C;
}
.iAmZis{
	font-size: 150px;
	color: #21232C;
}
.zis{
	color: #C3332B;
}
.iDo{
	font-size: 50px;
	color: #21232C;
}
.element{
	color: #21232C;
}
/* ==========================================================================
   Secondary Menu
========================================================================== */
.float-nav {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 3;
}
.float-nav > a.menu-btn {
  cursor: pointer; 
  cursor: hand;
  text-decoration: none;
  display: block;
  background-color: #cc3333;
  color: white;
  padding: 17px 19px 12px 19px;
  text-align: center;
  box-shadow: 2px 2px 8px #000;
  border-radius: 300px;
}
.float-nav > a.menu-btn.active {
  transition: background-color 250ms linear;
  background-color: transparent;
  box-shadow: none;
}
.float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
  border-width: 2px;
  -moz-transform: rotate(45deg) translate(4px, 6px);
  -ms-transform: rotate(45deg) translate(4px, 6px);
  -webkit-transform: rotate(45deg) translate(4px, 6px);
  transform: rotate(45deg) translate(4px, 6px);
}
.float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
  visibility: hidden;
}
.float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
  border-width: 2px;
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}
.float-nav > a.menu-btn > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.float-nav > a.menu-btn > ul > li.line {
  border: 1px solid white;
  width: 20px;
  margin-bottom: 7px;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  z-index: 3;
}
.float-nav > a.menu-btn > .menu-txt {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}

.main-nav {
	z-index: 2;
  	display: none;
  	opacity: 0;
  	font-family: sans-serif;
  	position: fixed;
  	bottom: 80px;
  	right: 20px;
  	transition: opacity 250ms;
}
.main-nav.active {
  display: block;
  opacity: 1;
  transition: opacity 250ms;
}
.main-nav > ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #cc3333;
  box-shadow: 2px 2px 8px #000;
  border-radius: 3px 3px 33.5px 3px;
}
.main-nav > ul > li > a {
  text-decoration: none;
  display: block;
  font-weight: 200;
  padding: 18px 80px 18px 18px;
  color: white;
}
.main-nav > ul > li > a:hover {
  font-weight: 400;
}


/* ==========================================================================
   About Section
========================================================================== */
.about{
	margin-top: -20px; 
	background: #D9B95F url(../img/backgrounds/texture4.png) repeat;
}
.about-header{
	text-align: center;
	background-color: #21232C;
	height: 150px;
	width: 100%;
	/*position: relative;*/
}
/*arrow*/
/*.about-header:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(33, 35, 44, 0);
	border-top-color: #21232C;
	border-width: 20px;
	margin-left: -20px;
}*/
.about-header h2{
	padding-top: 60px;
	color: #F2E0C2;
}
.zis-photo{
	width: 100%;
	height: 700px;
}
.about-me{
	padding: 150px 50px 0px;
	font-size: 30px;
	line-height: normal;
	color: #21232C;
}



/* ==========================================================================
   Skills Section
========================================================================== */

.skills{
	background: #D9B95F url(../img/backgrounds/texture4.png) repeat;
	padding-bottom: 50px;
	margin-top: -20px;
	
}
.skills-header{
	text-align: center;
	background-color: #21232C;
	height: 150px;
	width: 100%;
	position: relative;
}
/*arrow*/
.skills-header:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(33, 35, 44, 0);
	border-top-color: #21232C;
	border-width: 20px;
	margin-left: -20px;
}
.skills-header h2{
	padding-top: 60px;
	color: #F2E0C2;
}
.skill-bars{
	margin-top: 60px;
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:150px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* ==========================================================================
   Works Section
========================================================================== */
.works{
	margin-top: -20px;
	background: #D9B95F url(../img/backgrounds/texture2.png) repeat;;
}
.works-header{
	text-align: center;
	background-color: #21232C;
	height: 150px;
	width: 100%;
	position: relative;
}
/*arrow*/
.works-header:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(33, 35, 44, 0);
	border-top-color: #21232C;
	border-width: 20px;
	margin-left: -20px;
}
.works-header h2{
	padding-top: 60px;
	color: #F2E0C2;
}

/*----Gallry----*/
.gallery{
	margin-top: 60px;
	color: #21232C;
}
 .hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}
.thumbnail{
	overflow: hidden;
	border: 2px solid #C3332B;
	
	background: #ddc06e;
	border-radius: 0;
}
.thumbnail img{
	height: 200px;
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.thumbnail img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.thumbnail h3{
	color: #21232C;
}
.explore-btn{
	background-color: #C3332B;
	border-color: #C3332B;
	border-radius: 0;
}
.explore-btn:hover{
	background-color: #a72b25;
	border-color: #C3332B;
	transition: 0.3s;
}

/* ==========================================================================
   Contact Section
========================================================================== */
.contact{
	margin-top: -22px;
	background-color: #21232C;
    background-image: url(../img/backgrounds/contact_texture.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.contact-form-block{
	padding: 100px 20px;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
.btn-xl {
    color: #F2E0C2;
    background-color: #C3332B;
    border-color: #C3332B;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

/* ==========================================================================
   Social Section
========================================================================== */

.social{
	text-align: center;
	background: #C3332B url(../img/backgrounds/texture2.png) repeat;
	/*background-color: #;*/
	width: 100%;
	position: relative;
}
.social-container{
	padding: 50px 20px;
}
.social-icon{
	font-size: 100px;
}
.social-icon a{
	color: #21232C;
}
.social-icon a:hover{
	color: #F2E0C2;
	transition: 0.3s;
}
/* centered columns styles */
.row-centered {
	text-align:center;
}

.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

/* ==========================================================================
   Footer 
========================================================================== */

.footer-distributed{
	background-color: #21232C;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Raleway', sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #C3332B;
	font-family: 'Monoton', cursive;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #F2E0C2;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #F2E0C2;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #F2E0C2;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #C3332B;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* ==========================================================================
   Responsive
========================================================================== */

@media only screen and (max-width: 1390px) {

	.header-content{
		padding-top: 200px;
	}
	.hello{
	font-size: 35px;
	}
	.iAmZis{
		font-size: 100px;
	}
	.zis{
		color: #C3332B;
	}
	.iDo{
		font-size: 40px;
	}

	.about-me{
		padding: 100px 50px 0px;
		font-size: 28px;
	}
}

@media only screen and (max-width: 1230px) {

	.about-me{
		padding: 120px 50px 0px;
		font-size: 26px;
	}
}

@media only screen and (max-width: 1070px) {

	.about-me{
		padding: 80px 50px 0px;
		font-size: 24px;
	}
}
@media only screen and (max-width: 990px) {

	.hello{
	font-size: 35px;
	}
	.iAmZis{
		font-size: 100px;
	}
	.zis{
		color: #C3332B;
	}
	.iDo{
		font-size: 40px;
	}

	.about-me{
		padding: 80px 50px 80px;
		font-size: 22px;
	}
}

/*NAVBAR*/
@media only screen and (max-width : 768px) {
	.navbar-header{
		border: none;
	}
	.navbar-header button{
		background:  #C3332B;
		border: none;
	}

	.navbar-header button:hover{
		background:  #D9B95F !important;
		border: none;
		transition: .3s;
	}
	.navbar-header button:visited{
		background:  #C3332B !important;
	}
	.navbar-header button:active{
		background:  #C3332B !important;
	}
	.navbar-header button span{
		background-color: #21232C !important;
	}
	.navbar-collapse{
		background-color: #21232C;
		border-top: none;
		border-bottom: 5px solid #a58427 !important; 

	}
	.navbar-nav{
		padding-right: 45%;
	}
}